

.textoCentral{

    text-align: center;
}
.fondoServicios{

    background-color: #f5f5f5;
}

.divMargenesLaterales{

    margin:0px 5vw 0vh  5vw!important

}

.margen70{

    margin-top: 70px;
}
.divPadding64px{

    padding-top: 100px;
}

div.eapps-widget {
    position: relative;
    width: 88vw!important;
}


.MuiCardHeader-root {
    display: flex;
    padding: 16px;
    align-items: center;
    height: 50px;
}
.MuiCardContent-root {
    padding: 16px;
    height: 50px;
}
.Carousel-indicator-15 {
    color: #fe642a!important;
    cursor: pointer;
    font-size: 15px;
    transition: 200ms;
}
.jss81 {
    color: #fe642a!important;
    cursor: pointer;
    font-size: 15px;
    transition: 200ms;
}

.Carousel-active-16 {
    color: #7ece2b!important;
}
.jss82 {
    color:  #7ece2b!important ;
}
.CarouselItem .MuiPaper-elevation1 {
    box-shadow: none!important  ;
    /* box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgb(0 0 0 / 12%); */
}
.MuiFormLabel-root.Mui-focused{
    color:#7ece2b!important
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color:#7ece2b!important;
    border-width:2px
}

.MuiCircularProgress-colorPrimary {
    color: #7ece2b!important;
  
}
.MuiCircularProgress-svg {
    display: block;
    height: 100px;
}
.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #7ecd0d!important;
    color: #fff;
    font-size: 1.0625em;
}
.swal2-title{
    color:#be6ed6!important
}

.nota{
    text-align: center;
    margin-top: 12px;
    background: #bc6bd5;
    color: white;
    border-radius: 20px;
    padding: 5px;
}
.material-icons{
    color:#ffb533
}